body {
    background-color: #FFE6C1;
    max-width: 900px;
    margin: auto;  
    text-align: justify;
    font-family: roboto, helvetica, arial, sans-serif;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    padding: 15px;
}

h2 {
    padding: 5px;
    background-color: #FF9900;
}

table {
    border-collapse: collapse;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

a {
    font-weight: bold;
}

.logolink {
    text-align: center;
}

.logolink a {
    margin: auto;
}

.logo {
    width: 300px;
    height: 100px;
    margin: 8px;
}

.mail {
    font-weight: bold;
    padding: 0px 10px
}

.section {
    min-height: 180px;
}